<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="assets/images/home.jpg">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="texthome">
			<div class="">
				<h1>Los Abuelos</h1>
				<p>Las mejores comidas para disfrutar en familia, una gran variedad de platos para deleitarse</p>
				<button type="button" class="btn btn-warning" (click)="goMenu()">Ver Menú</button>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 align-right" id="texthome2">
			<div class="text-right">
				<h1>Pedí delivery</h1>
				<p>Pedí tu comida con tan solo un click</p>
				<button type="button" class="btn btn-warning" (click)="goMakeorder()">Pedí Aqui</button>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="assets/images/supremahome.jpg">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="assets/images/beefhome.jpg">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="texthome">
			<div class="">
				<h1>Contactanos</h1>
				<p>Cualquier consulta puedes contactarnos mediante nuestra pagina</p>
				<!-- <button type="button" class="btn btn-warning" (click)="goContact()">Contactanos</button> -->
			</div>
		</div>
	</div>
</div>